#root {
  font-family: "Signika", sans-serif;
}

.icon-search {
  color: #191919;
  position: absolute;
  width: 25px;
  height: 35px;
  left: 21px;
  top: 63%;
  transform: translateY(-50%);
}

.icon-main {
  color: #c85a14;
  width: 28px;
  height: 28px;
  left: 21px;
  top: 63%;
  transform: translateY(50%);
}

.full-height {
  grid-column: 1 / 4;
}

.half-height {
  grid-row: 3 / 4;
}
